/* Genel stil */
body {
  font-family: Arial, sans-serif;
}

/* Menü Butonu */
.menu-toggle {
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1100;
}

/* Sol Menü */
.sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px; /* Başlangıçta gizli */
  height: 100%;
  background-color: #333;
  padding-top: 60px;
  transition: 0.3s;
  z-index: 1000;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

/* Menü açılıp kapanacak */
.menu-toggle.active + .sidebar {
  left: 0;
}

/* İçerik alanı */
.content {
  margin-left: 270px; /* Menü genişliği kadar boşluk bırakıyoruz */
  padding: 20px;
}

.topic {
  display: none;
}

/* Chatbot görünürlüğü */
.tidio-chat iframe {
  z-index: 9999 !important;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 350px;
  height: 500px;
}

h2 {
  color: #333;
}

