/* Giriş Sayfası Stil */
.login-container {
  text-align: center;
  padding: 50px;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 10px;
}

.login-form {
  margin-top: 20px;
}

input[type="text"], input[type="password"] {
  padding: 10px;
  margin: 5px;
  width: 200px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Profil Sayfası Stil */
.profile {
  text-align: center;
  padding: 20px;
}

.profile h2 {
  font-size: 24px;
  color: #333;
}

.profile p {
  font-size: 18px;
  color: #666;
}

.profile ul {
  list-style-type: none;
  padding: 0;
}

.profile ul li {
  margin: 10px;
}

.profile ul li a {
  text-decoration: none;
  color: #007bff;
  font-size: 18px;
}

.profile ul li a:hover {
  text-decoration: underline;
}


/* Menü için stil */
.sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px; /* Başlangıçta gizli */
  height: 100%;
  background-color: #333;
  padding-top: 60px;
  transition: 0.3s;
  z-index: 1000;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

/* Menü butonunun yerleşimi */
.menu-toggle {
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1100;
}

/* İçerik kısmı */
.content {
  margin-left: 270px; /* Menü genişliği kadar boşluk bırakıyoruz */
  padding: 20px;
}

/* Konular arası geçişte daha rahat görünürlük sağlamak */
.topic {
  display: none;
}

/* Chatbot görünürlüğü */
.tidio-chat iframe {
  z-index: 9999 !important;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 350px;
  height: 500px;
}
